/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  --first-color: #22577E;
  --first-color-alt: #5ca1dd;
  --first-color-lighter: hsl(207, 92%, 85%);
  
  --title-color: hsl(207, 8%, 15%);

  --text-color: hsl(207, 8%, 45%);
  --text-color-light: hsl(207, 8%, 65%);

  --input-color: hsl(207, 0%, 87%);
  --body-color: hsl(207, 0%, 95%);
  --body-white: hsl(207, 60%, 100%);
  --body-white-nt: hsl(207, 60%, 100%);
  --body-third: hsl(0deg 0% 94% / 77%);

  --scroll-bar-color: hsl(207, 12%, 90%);
  --scroll-thumb-color: hsl(207, 12%, 80%);

  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif !important;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --radius-sm: 5px;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-7: 0.7rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color-second: hsl(207, 30%, 8%);
  --title-color: hsl(207, 8%, 95%);
  --text-color: hsl(207, 8%, 75%);
  --input-color: hsl(204, 7%, 14%);
  --body-color: hsl(200, 13%, 9%);
  --body-white: hsl(202deg 5% 13% / 50%);
  --body-white-nt: hsl(202deg 5% 13%);
  --body-third: hsl(0deg 0% 16% / 69%);
  --container-color: hsl(210, 19%, 14%);
}

body.dark-theme .social-im
