
@tailwind base;
@tailwind components;
@tailwind utilities;

/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,400;1,600;1,700&display=swap');


/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  --first-color: #22577E;
  --first-color-alt: #5ca1dd;
  --first-color-lighter: hsl(207, 92%, 85%);
  
  --title-color: hsl(207, 8%, 15%);

  --text-color: hsl(207, 8%, 45%);
  --text-color-light: hsl(207, 8%, 65%);

  --input-color: hsl(207, 0%, 87%);
  --body-color: hsl(207, 0%, 95%);
  --body-white: hsl(207, 60%, 100%);
  --body-white-nt: hsl(207, 60%, 100%);
  --body-third: hsl(0deg 0% 94% / 77%);

  --scroll-bar-color: hsl(207, 12%, 90%);
  --scroll-thumb-color: hsl(207, 12%, 80%);

  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif !important;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --radius-sm: 5px;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-7: 0.7rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color-second: hsl(207, 30%, 8%);
  --title-color: hsl(207, 8%, 95%);
  --text-color: hsl(207, 8%, 75%);
  --input-color: hsl(204, 7%, 14%);
  --body-color: hsl(200, 13%, 9%);
  --body-white: hsl(202deg 5% 13% / 50%);
  --body-white-nt: hsl(202deg 5% 13%);
  --body-third: hsl(0deg 0% 16% / 69%);
  --container-color: hsl(210, 19%, 14%);
}
body.dark-theme .social-img{
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}


/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--body-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(6, 115, 240);
}
img {
  max-width: 100%;
  height: auto;
}

input, textarea{
  border: none;
  outline: none;
  font-family: var(--body-font);
}

body.dark-theme .logo{
  -webkit-filter: grayscale(1) invert(1);
  filter: grayscale(1) invert(1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 550;
  color: var(--title-color);
}
strong{
  font-weight: 600;
}
button, input, textarea{
  font-family: var(--body-font);
}
body.bn{
  font-family: 'Hind Siliguri', sans-serif !important;
}

canvas{
  display: none;
}
canvas.c {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
}

::placeholder{
  color: rgb(122, 122, 122);
}


/* =========== LANGUAGE COLOR ============ */
.reactjs{background-color : #194d339c;}
.reactjs > span{color: #54d0df !important;}

.nextjs{background-color : #0707079c;}
.nextjs > span{color: #f5f5f5 !important;}

.redux{background-color : #201532;}
.redux > span{color: #764ABC !important;}

.css{background-color : #275bea;}
.css > span{color: #ffffff !important;}

.styledcomponents{background-color : #645331;}
.styledcomponents > span{color: #FBD559 !important;}

.expressjs{background-color : #505050;}
.expressjs > span{color: #ececec !important;}

.mongodb{background-color : #264416;}
.mongodb > span{color: #69B241 !important;}

.cloudinary{background-color : #d4d4d4;}
.cloudinary > span{color: #3A4CBD !important;}

.bootstrap{background-color : #120626;}
.bootstrap > span{color: #8812FC !important;}

.materialui{background-color : #15252e;}
.materialui > span{color: #00ACF8 !important;}

.firebase{background-color : #876235;}
.firebase > span{color: #FDCA40 !important;}
  
.html{background-color : #4a3b28;}
.html > span{color: #DC4F15 !important;}
  
.google-map-logo{background-color : #60201d;}
.google-map-logo > span{color: #dd4736 !important;}


/* ========= HERO ======= */
.hero-model{
  background-image: url('../public/images/model/raihan-hosen.png');
}
.gradiant-hero-name{
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right,#9acdf7, #0e71c2);
}

/* page transition */
.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: var(--body-white);
  transform-origin: top;
  z-index: 100000;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  height: 100vh;
  width: 100%;
  background: var(--body-white);
  transform-origin: bottom;
}


/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

